body{
	magin:0;/*mexe na margem*/
	padding:0;//*espaçamento interno*/
	
}

#menu{/*id se fosse classe ia coloca .menu{}*/
		
}

#menu ul{/*trabalha com tudo da parte de fora*/
	padding:0;
	margin:0; /*mexe na margem*/
	
	height:20px;
	margin-top:20px;
	margin-left:15px;	
	float:left;
	background-color:#1BBA1C; /*coloca cor*/
	list-style:none; /*tira o estilo*/
	
	
}

#menu ul li{/*trabalha com parte dos itens*/
	display:inline;
	padding:0;
	font-size: 18px;
	
}

#menu ul li a{
	display:table-cell;
	padding: 10px 10px; /*trabalha com item de texto*/
	display:inline-block;/*forma que eles serão mostradas o display*/
	
	color: white;
	text-decoration:none;/*tira linha de baixo*/

}
#menu ul li a:hover{/*hover e o momento que passa o mause por cima fique com uma cor diferente*/
	color:#004d00;
	
}
.imagem {
	display: table-cell;
	float:left;/*flutuar esquerda*/
}

.container{
	display: table;/*vai se comporta como tabela*/
	padding:6px;
	
	background-color:#1BBA1C;
	width:100%;
	height: 30px;
	height:auto;
	
}

.form{
	display: table-cell;
	float:right;
    color: #000000;
    padding: 10px 25px;
    text-align: left;
	
}
#p1{
	font-size: 22px;/*aumenta a letra*/
	color:white;
	margin: 10px 5px;
	font-family:Geogia;
	
	
}
#p2{
	color:white;
	margin: 10px 5px;
	font-family:helvetico;
	font-size:16;
	margin-left:20px;
	text-decoration:none;/*tira linha de baixo*/
	list-style:none;
}
#enviar ul {
	list-style:none; /*tira o estilo*/
	float:right;
	margin: 10px 5px;
}
#enviar ul li a{
	display: table-cell;
	
	padding: 10px; /*trabalha com item de texto*/
	display:inline-block;/*forma que eles serão mostradas o display*/
	color: white;
	text-decoration:none;/*tira linha de baixo*/
	list-style:none; /*tira o estilo*/
		
	
	
}
#enviar ul li a:hover{
	color:#004d00;
	
}

}
.colecao{
	display: table;
	padding:0;
	margin:30;
}


#im{
	
	padding:0;
	margin:30;
	display: table-cell;
	float:left;
	margin-top:20px;
}
#im h1{
	
	font-family:verdana;
	font-size:32;
	
}
#im p{
	
	font-family:helvetico;
	font-size:20;
	
}

#im h2{
	
	padding:0;
	margin:30;
	font-family:verdana;
	font-size:32;

	
}
#im img{
	width:90%;
	height:380;
}
#foto1{
	display: table-cell;
	float:right;
}
#foto1 p{
	font-family:helvetico;
	font-size:20;
}
#foto1 img{
	float:center;
	width:100%;
	height:55%;
}

#quadrado h1{
	font-family:helvetico;
	font-size:32;
	
	
}
#quadrado p{
	float:center;
	font-family:helvetico;
	font-size:16;
	
	
}
#for{
	padding:0;
	margin:30;
	float:center;
}

#for h1{
    color: #129413;
    
	
}
#qua{
   
}
#ci {
    background-color:#D9D6D2;
   width:500px;
   height:100px;
}
#ci h2{
    color:#454443;
    font-size:16; 
    font-family: arial;
}
#ci p{
    font-size:14;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: normal;
    color:#4B4A53;
}
#formu{
    padding:0;
    margin:30;
    font-family:arial;
    font-size:20;


}

